body {
  background-color: rgb(81, 81, 81);
}

.container,
.container2 {
  display: flex;
  flex-direction: row;
  min-width: 1200px;
  margin: 2em;
  font-family: "Indie Flower";
  font-style: normal;
  font-weight: 400;
}

.firstRow {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-evenly;
}

.title,
.title2 {
  background-color: yellow;
  width: 200px;
  height: 150px;
  -webkit-box-shadow: 4px 5px 4px -1px rgba(0, 0, 0, 0.57);
  box-shadow: 4px 5px 4px -1px rgba(0, 0, 0, 0.57);
}

.title p {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  transform: translateY(50px);
}

span {
  font-weight: 400;
  font-size: 20px;
}

.title:nth-child(1) {
  background-color: #f8f9c7;
  margin-right: 20px;
}

.title:nth-child(2) {
  background-color: #c7f7c9;
  margin-right: 20px;
}

.title:nth-child(3) {
  background-color: #c5c5f0;
  margin-right: 20px;
}

.title:nth-child(4) {
  background-color: #c7f7c9;
}

title:not(:last-child) {
}

.secondRow {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.title2 p {
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  transform: translateY(50px);
}

.title2 span {
  font-weight: 400;
  font-size: 20px;
}

.title2:nth-child(1) {
  background-color: #f8f9c7;
  margin-right: 20px;
}

.title2:nth-child(2) {
  background-color: #c5c5f0;
  margin-right: 20px;
}

.title2:nth-child(3) {
  background-color: #f8f9c7;
  margin-right: 20px;
}

.title2:nth-child(4) {
  background-color: #c7f7c9;
}
