/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  margin: 2em;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  padding: 1.5em;
  border: 2px solid rgba(0, 0, 0, 0.551);
}

.parole {
  animation: changeWord 2s infinite forwards;
}

@keyframes changeWord {
  from {
    .parole: nth-child(1);
  }

  50% {
    .parole: nth-child(2);
  }

  to {
    .parole: nth-child(3);
  }
}
